:root {
  --primary-color: #02280e;
}

* {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
}

header {
  background-image: linear-gradient(rgba(2, 40, 17, 0.6), rgba(2, 40, 17, 0.6)),
    url("../images/background-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 200px 0;
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
}

header p {
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 5px;
}

main {
  background: #fff;
  color: var(--primary-color);
}

main h2 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  opacity: 0.3;
}

main h3 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

main h4 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin: 20px;
}

main p {
  font-size: 17px;
  line-height: 2;
  font-weight: 400;
}

section {
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background-color: #f8f8f8;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.rounded {
  border-radius: 4px;
}

.link-btn {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: inline-block;
  padding: 16px 32px;
  margin-top: 32px;
  text-decoration: none;
  border-radius: 4px;
}

.primary-link {
  color: var(--primary-color);
  background: #fff;
}

.secondary-link {
  color: #fff;
  background: var(--primary-color);
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
}

.grid-2-col {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.grid-3-col {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
}

.grid-2-row {
  grid-template-rows: repeat(2, 1fr);
}

.grid-3-col-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 60px;
}

.card {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  border-radius: 10px;
}

.card-header.grid-2-col {
  grid-gap: 0;
}

.card-body,
.card-footer {
  padding: 20px;
}

.card-footer {
  margin-top: auto;
}

.card-header img {
  aspect-ratio: 1/1;
  border-radius: 10px 0 0 0;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 0 10px 0 0;
}

.gallery-section {
  background: #f8f8f8;
  padding: 30px;
  margin-top: 20px;
  border-radius: 10px;
}

footer {
  background-image: linear-gradient(rgb(2, 40, 17, 0.9), rgb(2, 40, 17, 0.9)),
    url("../images/background-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}

footer h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

footer ul {
  padding: 0;
  list-style: none;
}

footer li,
footer p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
}

footer a {
  color: #fff;
}

@media (max-width: 960px) {
  header {
    padding: 80px 0;
  }

  h1 {
    font-size: 40px;
  }

  header h2,
  main h3 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
  }

  section {
    padding: 70px 30px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .card {
    margin-top: 40px;
  }

  .card-header img {
    aspect-ratio: auto;
    border-radius: 10px 10px 0 0;
  }

  .embed {
    display: none;
  }
}
